.textbox{
	width: 100%;
}
.textbox input{
	width: 100%;
	font-size: 16px;
	padding-bottom: 3px;
	padding-bottom: 3px;
	display: block;
	flex: 1;
	border: none;
	outline: none;
	height: inherit;
}

/* Disabled */ 
.textbox.disabled{
	cursor: not-allowed;
	pointer-events: none;
}
.textbox.disabled input{
	cursor: not-allowed;
	pointer-events: none;
	color: #b5b5b5 !important;
}




/* Animations */
@keyframes barAnimation{
	0%{
		width: 0;
	}
	100%{
		width: 100%;
	}
}
@keyframes xInputWrapperStatusContainerAnimationShow{
	0%{
		height: 0;
	}
	100%{
		height: 15px;
	}
}
@keyframes xInputWrapperStatusContainerAnimationHide{
	0%{
		height: 15px;
	}
	100%{
		height: 0;
	}
}
.xTextBox.default{
	padding-top: 15px;
	padding-bottom: 15px;
}
.xTextBox.default input{
	width: 100%;
	font-size: 18px;
	padding-bottom: 3px;
	padding-bottom: 3px;
	display: block;
	flex: 1;
	border: none;
	outline: none;
	height: inherit;
}

/* Icon */
.xTextBox.default .xIcon{
	display: flex;
	justify-content: center;
	align-items: center;
}
.xTextBox.default .xIcon i{
	font-size: 20px;
}
.xTextBox.default .xIcon.hasIcon{
	padding-right: 8px;
}

/* xInputWrapper Bar */

/* Expand/Collapse Icon for Dropdown Inputs */
.xTextBox.default .xInputWrapper .xInputWrapperInputContainer::after{
	content : "";
	width: 10px;
    height: 10px;
    border: 1px solid black;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(135deg);
    transition: all 300ms;
	position: absolute;
	right: 10px;
	top: 10px;
	display: none;
}
.xTextBox.default .xInputWrapper.showExpand .xInputWrapperInputContainer::after{
	display: block;
}
.xTextBox.default .xInputWrapper .xInputWrapperInputContainer.expand::after{
	transform: rotate(-45deg) !important;
}
.xTextBox.default .xInputWrapper.disabled .xInputWrapperInputContainer::after{
	border: 1px solid #b5b5b5;
	border-bottom-color: transparent;
	border-left-color: transparent;
}
.xTextBox.default .statusAnimationShow{
	animation-name: xInputWrapperStatusContainerAnimationShow;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}
.xTextBox.default .statusAnimationHide{
	animation-name: xInputWrapperStatusContainerAnimationHide;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}